@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4 text-success">Welcome to Start Selling site!</h1>
    <hr>
    <br>
    <h3 class="display-2">This site is all about making your small business grow and reach your customers faster.</h3>
</div>
